.doodle-state {
  img {
    width: 100%;
    max-width: 350px;
    margin-top: 3em;
    &.smaller-image{
      max-width: 230px !important;
    }
  }
  h5 {
    font-size: 16px;
    font-family: "lato";
    font-weight: 600;
    margin: 20px 0 0;
  }
  h1 {
    font-size: 16px;
    font-family: "lato";
    font-weight: 300;
    line-height: 1.6em;
    margin: 6px 0 0 0;
  }
}