<div id="add">
  <button class="own-button blue-button" (click)="onAddRow()">Add Row</button>
</div>

<div class="row">
  <div class="col-md-24">
    <form (ngSubmit)="!multiExpenseForm.invalid && storeExpenses()" 
          id="expensesForm" 
          #multiExpenseForm="ngForm"
          [formGroup]="formPrefs">
      <table class="table mt-3">
        <thead>
          <tr>
            <th>Date Added</th>
            <th>Expense Description</th>
            <th colspan="2">Expense Value</th>
          </tr>
        </thead>
        <tbody formArrayName="datasets">
          <tr [formGroupName]="i" *ngFor="let formPref of this.formPrefs.get('datasets')['controls']; let i = index;">
            <td>
              <div class="input-group">
                <input  id="dateOfBirth" 
                        class="form-control" 
                        placeholder="yyyy-mm-dd" 
                        name="dp" 
                        formControlName="dp"
                        ngbDatepicker
                        required 
                        #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
                    <i class="zmdi zmdi-calendar"></i>
                  </button>
                </div>
              </div>
              
              <small  *ngIf="formPref.hasError('required', 'dp')"
                      class="error-alert">
                      You have to input the date
              </small>
            </td>
            <td>
              <input class="form-control" 
                     formControlName="expenseDescription" 
                     #expenseDescription name="expenseDescription">
              <small  *ngIf="formPref.hasError('required', 'expenseDescription')"
                      class="error-alert">
                      You have to input a description above
              </small>
            </td>
            <td>
              <input class="form-control" 
                     currencyMask
                     [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                     formControlName="expenseValue" 
                     #expenseValue 
                     name="expenseValue">
              <small  *ngIf="formPref.hasError('required', 'expenseValue')"
                      class="error-alert">
                You have to input a value above
              </small>
            </td>
            <td>
              <button class="own-button red-button" 
                    (click)="onRemoveRow(i)"
                    *ngIf="i > 0">
                <i class="zmdi zmdi-delete"></i>
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row mt-2">
        <div class="col-md-24">
          <button   type="submit" 
                    style="float: right"
                    class="own-button blue-button" 
                    [disabled]="!formPrefs.valid">
                    Send 
                    <i class="zmdi zmdi-mail-send"></i>
          </button>
        </div>
      </div>
      
      <div class="loader">
        <img src="/assets/images/ellipsis.gif" alt="">
      </div>
    </form>
  </div>
</div>

<pre *ngIf="CONFIG.APP_TYPE == 'development'">{{ formPrefs.value | json }}</pre>
