form {
    position: relative;
    div.loader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        background-color: rgba(243, 250, 253, .7);
        display: none;
        z-index: 9;
        height: 100%;
    }
    &.loading {
        div.loader{
        display: flex;
        align-items: center;
        justify-content: center;
            img{
                width: 128px;
                height: 128px;
            }
        }
    }
}