*{
  position: relative;
  font-family: "Lato";
  font-weight: 400;
  color: #3c5467 !important;
  font-size: 14px;
  transition: 0.5s;
  padding-left: 12px;
  display: flex;
}
.dropdown-toggle::after{
  margin-top: 10px;
  color: #4199d5 !important;
}

.navbar{
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin-left: -15px;
  background-color: transparent;
  margin-top: 24px;
  margin-right: -15px;
  &#navbarSupportedContent.fixed{
    position: fixed;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px 0px rgba(59, 152, 212, 0.27);
    margin-top: 0;
    z-index: 9999;
    top: 0;
  }
  .navbar-company-profile{
    padding-left: 0;
  }
  .navbar-custom-menu{
    .navbar-nav{
      li{
        span{
          padding: 0;
          margin-left: 5px;
        }
        img {
          height: 24px;
        }
        button{
          border: none !important;
          background: transparent !important;
          color: #4199d5 !important;
          padding: 0;
        }
      }
    }
  }
}