<nav class="navbar navbar-expand-lg navbar-light" id="navbarSupportedContent">
  <div class="collapse navbar-collapse pl-0">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-company-profile" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hifshan Riesvicky
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    
    <div class="navbar-custom-menu paper-navbar-right">
      <ul class="nav navbar-nav">
         <li class="incoming-notification">
            <!---->
            <a routerlink="/invoicer/incoming-purchase-invoice" href="#/invoicer/incoming-purchase-invoice" class="ng-star-inserted">
              <img alt="logo" src="https://paper.id/webappv1/assets/images/icon/notification.svg">
            </a><!---->
         </li>
         <!---->
         <li class="paywall-dropdown ng-star-inserted">
            <div class="btn-group btn-custom_paywall free dropdown ng-star-inserted" dropdown="">
               <button class="btn-custom-paywall dropdown-toggle" dropdowntoggle="" id="single-button" type="button" aria-haspopup="true">
                 <img alt="logo" src="https://paper.id/webappv1/assets/images/icon/subscription-sitemenu.svg">
                 <span> Free</span><b class="caret"></b>
                </button>
               <ul aria-labelledby="single-button" dropdownmenu="" role="menu" class="dropdown-menu">
                  <li class="custom-pay-menuitem" role="menuitem">
                     <h3>Free Membership Plan</h3>
                     <h3> Short Features</h3>
                     <button class="paper-button green-button" routerlink="/paywall" tabindex="0">Upgrade Now</button>
                  </li>
               </ul>
            </div>
         </li>
         <!---->
         <li class="users-dropdown ng-star-inserted">
            <div class="btn-group btn-action-group btn-custom_paywall btn_users dropdown" dropdown="">
               <button class="btn-custom-users dropdown-toggle" dropdowntoggle="" id="single-button" type="button" aria-haspopup="true">
                 <img alt="User Image" class="user-image" src="https://paper.id/webappv1/assets/images/icon/users.svg">
                 <span>Hifshan Riesvicky</span>
                 <b class="caret"></b>
                </button>
               <ul aria-labelledby="single-button" class="dropdown-menu-custom dropdown-menu" dropdownmenu="" role="menu">
                  <div class="dropdown-container dropdown-user-company font-size-11">
                     <div class="flex-column-start-start padding-15 padding-bot-0">
                        <div class="flex-start-start">
                           <img class="image-user-company-15" src="https://paper.id/webappv1/assets/images/main-dashboard/icon-user-profile.svg">
                           <div class="information-user-company">
                              <div class="user user-name"> Hifshan Riesvicky </div>
                              <div class="user user-title"> Pengguna (Owner) </div>
                              <div class="user user-email"> riesvicky@gmail.com </div>
                           </div>
                        </div>
                        <div style="width: 100%;">
                           <div class="div-router profile" routerlink="/invoicer/profile" tabindex="0"> Atur Profil Pengguna </div>
                        </div>
                     </div>
                     <div class="flex-center-center div-router border-top sign-out">
                       <img class="image-user-company-5" src="https://paper.id/webappv1/assets/images/main-dashboard/icon-signout.svg"> Keluar dari Paper.id </div>
                  </div>
               </ul>
            </div>
         </li>
         <!---->
         <li class="setting-icon">
            <a routerlink="/invoicer/settings">
              <img alt="logo" src="https://paper.id/webappv1/assets/images/icon/setting-sitemenu.svg">
            </a>
          </li>
      </ul>
   </div>
  </div>
</nav>