form{
  position: relative;
  div.loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba(243, 250, 253, .7);
    display: none;
    z-index: 9;
    height: 100%;
  }
  &.loading {
    div.loader{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 128px;
        height: 128px;
      }
    }
  }
  .modal-header{
    background-image: url('https://paper.id/webappv1/assets/images/Header_Modal.svg'), linear-gradient(to right, #297eb7, #3487bf, #3e8fc8, #4798d0, #50a1d9);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px 20px;
    overflow: hidden;
    position: relative;
    border-radius: 0;
    flex-direction: row;
    .modal-header-first-col{
      flex-direction: column;
      display: flex;
      #mini-header{
        font-size: 12px;
        display: block;
        color: #FFF;
        margin-bottom: 0;
        &:after{
          content: '';
          width: 18px;
          display: block;
          height: 3px;
          background-color: #4199d5
        }
      }
      .modal-title{
        color: #FFF;
      }
    }
  }
  .modal-body, .modal-footer{
    background-color: #F4FAFD;
  }
  .modal-body{
    small{
      margin-top: -1rem;
      display: block;
      color: red;
    }
  }
  .modal-footer{
    border-top: none;
    display: flex;
    justify-content: center;
    .green-button{
      background: #aae481;
      color: #fff;
      &:hover{
        -webkit-box-shadow: 0 0 13px 1px #aae481;
        box-shadow: 0 0 13px 1px #aae481;
      }
      border-color: #aae481;
    }
  }
}
