<ng-template #content let-modal>
  <form (ngSubmit)="!incomeForm.invalid && storeIncome()" id="incomeForm" #incomeForm="ngForm">
    <div class="modal-header">
      <div class="modal-header-first-col">
        <p id="mini-header">Income Transaction</p>
        <h4 class="modal-title" id="modal-basic-title">Make New Income / Cashin</h4>
      </div>
      <div class="modal-header-second-col">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="dateOfBirth">Date </label>
              <div class="input-group">
                <input  id="dateOfBirth" 
                        class="form-control" 
                        placeholder="yyyy-mm-dd" 
                        [(ngModel)]="formPref.dp"
                        name="dp" 
                        [formControl]="control" 
                        ngbDatepicker
                        required 
                        #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
                    <i class="zmdi zmdi-calendar"></i>
                  </button>
                </div>
              </div>
              
            </div>
            <small *ngIf="incomeForm.dirty && control.invalid">You have to choose the date</small>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="dateOfBirth">Amount of income </label>
              <input  currencyMask
                      [(ngModel)]="formPref.incomeValue" 
                      #incomeValue="ngModel" 
                      placeholder="Ex: 20.000" 
                      name="incomeValue" 
                      [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                      class="form-control"
                      required/>
            </div>
            <small *ngIf="incomeForm.dirty && incomeValue.invalid">You have to insert the amount</small>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-24">
            <div class="form-group">
              <label for="dateOfBirth">Description </label>
              <textarea name="incomeDescription" 
                        #incomeDescription="ngModel"
                        [(ngModel)]="formPref.incomeDescription" 
                        class="form-control"
                        required></textarea>
            </div>
            <small *ngIf="incomeForm.dirty && incomeDescription.invalid">You have to input description</small>
          </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="submit" class="own-button green-button">Save</button>
    </div>

    <div class="loader">
      <img src="/assets/images/ellipsis.gif" alt="">
    </div>
  </form>
</ng-template>