<div class="row">
  <div class="col-md-24">
    <div class="alert alert-success" *ngIf="state.alert.success">
      <strong>Yeay!</strong> {{ state.alert.successMessage }}
    </div>

    <div class="alert alert-danger" *ngIf="state.alert.error">
      <strong>Oops!</strong> {{ state.alert.errorMessage }}
    </div>
  </div>
</div>


<div class="row content-page" id="filtered-top">
  <div class="col-sm-24 pl-0 pr-0">
    <h3>{{ title }}</h3>
  </div>
  <div class="col-sm-4 pl-0">
    <div class="search-global">
      <input placeholder="Search" [(ngModel)]="filter.search" #searchElement type="text"/>
      <i class="zmdi zmdi-search"></i>
    </div>
  </div>
  <div class="col-sm-3 pl-0">
    <div class="search-global">
      <input placeholder="Start Date" class="date-filter" [(ngModel)]="filter.startDate" (click)="startDate.toggle()" ngbDatepicker #startDate="ngbDatepicker" type="text"/>
      <i class="zmdi zmdi-calendar"></i>
    </div>
  </div>
  
  <div class="col-sm-3 pl-0">
    <div class="search-global">
      <input placeholder="End Date" class="date-filter" [(ngModel)]="filter.endDate" (click)="endDate.toggle()" ngbDatepicker #endDate="ngbDatepicker" type="text"/>
      <i class="zmdi zmdi-calendar"></i>
    </div>
  </div>

  <div class="col-sm-2 pl-0">
      <button class="own-button blue-button" (click)="callFilter()">
        <i class="zmdi zmdi-filter-list"></i> Filter
      </button>
  </div>

  <div class="col-sm-12 pr-0 responsive-buttons">
    <button (click)="openModal()" class="own-button blue-button">
      <i class="zmdi zmdi-plus"></i>
      Create new cashin
    </button>

    <button routerLink="/incomes/create-multiple" class="own-button">
      <i class="zmdi zmdi-plus"></i>
      Add Multiple Incomes
    </button>
  </div>

  <div class="col-sm-24 content-searched pl-0 pr-0">
    <app-lazy-loader *ngIf="state.fetching"></app-lazy-loader>
    <app-search-doodle *ngIf="state.dataset.length == 0 && !state.fetching && !state.nullData"
                        headImage="https://paper.id/webappv1/assets/images/empty-state/default.svg"
                        [description]="doodle_object[0]"
                        headImageClass="smaller-image">
    </app-search-doodle>
    <app-search-doodle *ngIf="state.dataset.length == 0 && !state.fetching && state.nullData"
                        headImage="https://paper.id/webappv1/assets/images/empty-state/document-invoice.svg"
                        [description]="doodle_object[1]">
    </app-search-doodle>

    <table [ngClass]="{'hide': state.dataset.length == 0 || state.fetching}" class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount of Income</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataset of state.dataset">
          <td>{{ dataset.dpReformatted }}</td>
          <td>{{ dataset.incomeDescription }}</td>
          <td>{{ dataset.incomeValue | currency:'Rp.':'symbol':'3.0-1' }}</td>
          <td>
            <button (click)="openEditModal(dataset)" class="btn btn-primary btn-sm">
              <i class="zmdi zmdi-edit"></i>
            </button>  
            <button (click)="deleteModal(dataset)" class="btn btn-danger btn-sm ml-2">
              <i class="zmdi zmdi-delete"></i>
            </button>  
          </td>
        </tr>
      </tbody>
    </table>

    <app-finance-cashin #financemodal (saveEvent)="state=$event"></app-finance-cashin>
  </div>
</div>
