<div class="row">
    <div class="col-md-24">
        <form   (ngSubmit)="!settingForm.invalid && storeSetting()" 
                id="settingForm" 
                #settingForm="ngForm"
                [formGroup]="months">
            <h2 class="mb-3 subtitle">
                Monthly Expense Target
            </h2>
            <div class="alert alert-success" *ngIf="alert.success">
                <strong>Awesome!</strong> Your setting preference has been saved.
            </div>
            
            <div class="left">
                <img id="filter-icon" src="https://paper.id/webappv1/assets/images/filter-icon-yearly.svg">
                <h5>Tahun</h5>
                <h2> {{ year }}</h2>
            </div>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Month on Year</th>
                        <th>Field</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-transform: capitalize;">
                            January
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="january" 
                                    #january 
                                    name="january" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            February
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="february" 
                                    #february 
                                    name="february" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            March
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="march" 
                                    #march 
                                    name="march" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            April
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="april" 
                                    #april 
                                    name="april" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            May
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="may" 
                                    #may 
                                    name="may" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            June
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="june" 
                                    #june 
                                    name="june" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            July
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="july" 
                                    #july 
                                    name="july" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            August
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="august" 
                                    #august 
                                    name="august" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            September
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="september" 
                                    #september 
                                    name="september" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            October
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="october" 
                                    #october 
                                    name="october" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            November
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="november" 
                                    #november 
                                    name="november" 
                                    class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-transform: capitalize;">
                            December
                        </td>
                        <td>
                            <input  type="text"
                                    currencyMask
                                    [options]="{ prefix: 'Rp ', thousands: '.', precision: 0 }"
                                    formControlName="december" 
                                    #december 
                                    name="december" 
                                    class="form-control">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row mt-2">
                <div class="col-md-24">
                    <button   type="submit" 
                            style="float: right"
                            class="own-button blue-button" 
                            [disabled]="!months.valid">
                            Set 
                            <i class="zmdi zmdi-mail-send"></i>
                    </button>
                </div>
            </div>

            <div class="loader">
                <img src="/assets/images/ellipsis.gif" alt="">
            </div>
        </form>
        <pre *ngIf="CONFIG.APP_TYPE == 'development'">{{ months.value | json }}</pre>
    </div>
</div>