form{
  h2.subtitle{
    font-weight: 800;
    color: #4298D3;
  }
  .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    img#filter-icon {
      width: 12px;
      height: 12px;
    }
    h5, h2{
      font-size: 16px;
      margin-bottom: 0;
      margin-left: 6px;
      font-weight: 800;
    }
  }
  div.loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba(243, 250, 253, .7);
    display: none;
    z-index: 9;
    height: 100%;
  }
  &.loading {
    div.loader{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 128px;
        height: 128px;
      }
    }
  }
}
