<!DOCTYPE html>
<html>
   <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" 
          href="/assets/custom-bootstrap.css" 
          crossorigin="anonymous">
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" 
          rel="stylesheet">
    <link rel="stylesheet" 
          href="/assets/app.css"/>
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css">
   </head>
   <body>
     
      <section class="container-fluid pl-0">
        <!-- <div class="title">{{ title }}</div> -->
        <div class="row">
          <div    class="col-sm-9 col-md-9 col-lg-9 col-xl-4 pr-0"            
                  id="navigation-wrapper">
            <app-navigation></app-navigation>
          </div>
          <div class="col-sm-15 col-md-15 col-lg-15 col-xl-20" id="navbar-wrapper">
            <app-navbar></app-navbar>
            <router-outlet></router-outlet>
          </div>
        </div>
      </section>
    
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"    
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
              crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
              integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
              crossorigin="anonymous"></script>
   </body>
</html>