a, span, h1, h2, h3, h4, h5, h6, div, b, strong, html, body{
  font-family: 'Lato', sans-serif !important;
}

body{
  background-color: #F3FAFD;
}

.content-page{
  padding: 32px;
  position: relative;
  z-index: 1;
}

#navigation-wrapper{
  background: linear-gradient(135deg, #50a1d8 0%, #297eb9 100%) !important;
  z-index: 9;
}
