.content-page {
  h3{
    font-size: 19px;
    font-weight: bold;
    color: #3c5467;
    margin: 1em 0 2em 0;
  }
  table{
    background-color: #FFF;
    &.hide{
      display: none;
    }
  }
  .content-searched {
    border-top: 1px solid #d7d7d7;
    margin-top: 3em;
    text-align: center;
    background-color: transparent !important;
  }
  .responsive-buttons{
    display: flex;
    justify-content: flex-end;
    button.own-button{
      background: #d0d1d5;
      border-radius: 120px;
      color: #fff;
      cursor: pointer;
      font-size: 12px;
      font-family: lato;
      position: relative;
      min-width: 120px;
      -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.1);
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.1);
      -webkit-transition: .5s;
      transition: .5s;
      border: 2px solid #d0d1d5;
      display: inline-block;
      text-align: center;
      line-height: 1;
      letter-spacing: .4px;
      font-weight: 400;
      padding: 13px 20px;
    }
    button.blue-button{
      background: #4199d5;
      color: #fff;
      border: 2px solid #4199d5;
      text-align: center;
      &:hover{
        background: 0 0;
        color: #4199d5;
        border: 2px solid #4199d5;
      }
    }
  }
  .search-global{
    background: #fff;
    display: inline-block;
    padding: 5px 14px;
    border-radius: 50px;
    box-shadow: 5px 5px 40px 0px rgba(59, 152, 212, 0.15);
    -webkit-box-shadow: 5px 5px 40px 0px rgba(59, 152, 212, 0.15);
    -moz-box-shadow: 5px 5px 40px 0px rgba(59, 152, 212, 0.15);
    display: flex;
    justify-content: space-between;
    max-width: 310px;
    input{
      padding: 5px;
      width: 100%;
      border: none;
      font-size: 13px;
      color: #3d464d;
      font-weight: normal;
      &.date-filter{
        width: 100%
      }
    }
    i{
      font-size: 18px;
      color: #d7d7d7;
      padding: 5px;
    }
  }
}