.placeholder {
  margin: 15px 0;
  padding: 18px;
  height: auto;
  border: 1px solid lightgrey;
  background-color: #FFF;
  border-radius: 5px;

  .row-placeholder{
    display: flex;
    flex-direction: row;
    background: none !important;
  }

  .line-wrapper{
    background: none !important;
    width: calc(100% - 128px);
  }

  .circle-wrapper{
    display: flex;
    align-items: center;
    background: none !important;
    width: calc(100% - 128px);
  }

  div:not(.row-placeholder) {
    background: #E8E8E8;
  }

  .square {
    float: left;
    width: 128px;
    height: 56px;
    margin: 0 0 10px;
  }

  .line {
    height: 12px;
    margin: 0 0 10px 35px;

    &:nth-child(2) {
      width: 12%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(1) {
      width: 40%;
    }
  }

  .circle {
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 15px 0 0;
    border-radius: 15px;
  }

  &.pulse div {
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
  }

  &.wave div {
    animation: wave 1s infinite linear forwards;
    -webkit-animation: wave 1s infinite linear forwards;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
  }
}

/* 
  --------------
  Pulse effect animation 
  Activated by adding a '.pulse' class to the placeholder
  --------------
*/

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@-webkit-keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

/* 
  --------------
  Wave effect animation 
  Activated by adding a '.wave' class to the placeholder
  --------------
*/

@keyframes wave {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@-webkit-keyframes wave {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}