<div class="placeholder wave" *ngFor="let i of [].constructor(4)">
  <div class="row-placeholder">
    <div class="square"></div>
    <div class="line-wrapper">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  
  <div class="circle-wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div>