<div class="row content-page animate__animated animate__fadeInLeft">
  <div class="col-md-10 left">
    <h2>Welcome to Paper.id</h2>
    <p class="subtitle">Let's begin with our <strong>Personal Finance Management System</strong> and see your report below.</p>
  </div>
  <div class="col-md-14 right">
    <div class="dashboard-desktop-view">
      <div class="dashboard-desktop-view-container">
        <div class="learn-more flex-column-center-center">
            <div class="icon header" style="position: relative;top: 10px;">
              <img class="image" [src]="images.accountingModal">
            </div>
            <div class="body flex-center-center">
              <span class="rounded">1</span>
              <h5 class="ng-tns-c10-3">Make Your Expense Target</h5>
            </div>
            <div class="footer">
              <a>
                  <button class="flex-center-center own-button blue-button">
                    <div class="icon flex-center-center">
                      <img class="image" [src]="images.iconPelajari">
                    </div>
                    OK, GO THERE
                  </button>
              </a>
            </div>
        </div>
        <div class="learn-more flex-column-center-center">
            <div class="icon header" style="position: relative;top: -15px;">
              <img class="image" [src]="images.costPlane">
            </div>
            <div class="body flex-center-center">
              <span class="rounded">2</span>
              <h5 class="ng-tns-c10-3">Make Your Expense List</h5>
            </div>
            <div class="footer">
              <a>
                  <button class="flex-center-center own-button blue-button" routerLink="/expenses">
                    <div class="icon flex-center-center">
                      <img class="image" [src]="images.iconPelajari">
                    </div>
                    MAKE EXPENSE
                  </button>
              </a>
            </div>
        </div>
        <div class="learn-more flex-column-center-center">
            <div class="icon header" style="position: relative;top: -15px;">
            <img class="image" [src]="images.incomePlane"></div>
            <div class="body flex-center-center">
              <span class="rounded">3</span>
              <h5 class="ng-tns-c10-3">Lastly, Make your Income List</h5>
            </div>
            <div class="footer">
              <a>
                  <button class="flex-center-center own-button blue-button" routerLink="/incomes">
                    <div class="icon flex-center-center">
                      <img class="image" [src]="images.iconPelajari">
                    </div>
                    GO THERE 
                  </button>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="curved-line"></div>
  <img class="background" [src]="images.pohonDanHangar">
</div>

<div class="row mt-3">
  <div class="col-md-24">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            Name
            <small>(Year 2020)</small>
          </th>
          <th>Total Expense</th>
          <th>Total Income</th>
          <th>Highest Expense
            <small>(Per-Transaction)</small>
          </th>
          <th>Highest Income
            <small>(Per-Transaction)</small>
          </th>
          <th>Expense Target
            <small>(Monthly)</small>
          </th>
          <th>Status
            <small>(Based on Target)</small>
          </th>
          <th>Money Left
            <small>(Cashflow)</small>
          </th>
          <th>Status
            <small>(Based on Cashflow)</small>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="totalExpenses.length == 0 && totalIncomes.length == 0 && highestExpenses.length == 0 && 
      highestIncomes.length == 0">
        <tr id="pulse">
          <td>Month Name</td>
          <td>
            <img src="/assets/images/ellipsis.gif" />
          </td>
          <td>
            <img src="/assets/images/ellipsis.gif" />
          </td>
          <td>
            <img src="/assets/images/ellipsis.gif" />
          </td>
          <td>
            <img src="/assets/images/ellipsis.gif" />
          </td>
          <td>
            <img src="/assets/images/ellipsis.gif" />
          </td>
          <td>
            <img src="/assets/images/ellipsis.gif" />
          </td>
          <td>
            <img src="/assets/images/ellipsis.gif" />
          </td>
          <td>
            <img src="/assets/images/ellipsis.gif" />
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="totalExpenses.length > 0 && totalIncomes.length > 0 && highestExpenses.length > 0 && highestIncomes.length > 0">
        <tr *ngFor="let month of MONTHS; let i = index">
          <td>{{ month.name }}</td>
          <td class="money red">
            {{ this.totalExpenses[i] | currency:'Rp.':'symbol':'0.0-0' }}
          </td>
          <td class="money green">
            {{ this.totalIncomes[i] | currency:'Rp.':'symbol':'0.0-0' }}
          </td>
          <td class="money red">
            {{ highestExpenses[i] | currency:'Rp.':'symbol':'0.0-0' }}
          </td>
          <td class="money green">
            {{ highestIncomes[i] | currency:'Rp.':'symbol':'0.0-0' }}
          </td>
          <td class="money">
            {{ expensesLimitTarget[month.name] | currency:'Rp.':'symbol':'0.0-0' }}
          </td>
          <td [ngClass]="(expensesLimitTarget[month.name] - totalExpenses[i] < 0) ? 'red' : ''">
            {{ expensesLimitTarget[month.name] - totalExpenses[i] < 0 ? 'Over Budget' : 'On Budget' }}
          </td>
          <td class="money" [ngClass]="(this.totalIncomes[i] - this.totalExpenses[i]) < 0 ? 'red' : ''">
            {{ this.totalIncomes[i] - this.totalExpenses[i] | currency:'Rp.':'symbol':'0.0-0' }}
          </td>
          <td [ngClass]="(totalIncomes[i] - totalExpenses[i] < 0) ? 'red' : 'green'">
            {{ totalIncomes[i] - totalExpenses[i] < 0 ? 'Defisits' : 'Profit' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
