.content-page{
  padding: 0 32px 32px 32px;
}

.modal-content{
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12) !important;
  border: none;
  border-radius: 0;
}

.own-button{
  background: #d0d1d5;
  border-radius: 120px !important;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-family: lato;
  position: relative;
  min-width: 120px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.1);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.1);
  -webkit-transition: .5s;
  transition: .5s;
  border: 2px solid #d0d1d5;
  display: inline-block;
  text-align: center;
  line-height: 1;
  letter-spacing: .4px;
  font-weight: 400;
  padding: 13px 20px;
}

.own-button.red-button {
  background-color: #F44336 !important;
}

.modal-content{
  animation-name: fadeInUpDown;
  animation-duration: .3s;
}

/* Animation */

@keyframes fadeInUpDown {
  from {
      transform: translate3d(0,240px,0) scale(0.3);
      opacity: 0;
  }

  to {
      transform: translate3d(0,0,0) scale(1);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUpDown {
  from {
      transform: translate3d(0,40px,0) scale(0.5);
      opacity: 0;
  }

  to {
      transform: translate3d(0,0,0) scale(1);
      opacity: 1
  }
}

@keyframes openmodal {
  0%   {transform: scale(0.5)}
  65%  {transform: scale(1.15)}
  85%  {transform: scale(1.05)}
  100% {transform: scale(1)}
}