/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.dataTables_filter{
  display: none;
}

.dataTables_length{
  display: none;
}
table.dataTable.no-footer{
  border-bottom: none !important;
}

table{
  box-shadow: 0 3px 15px 0 #c2dbed63;
  thead{
    th{
      border-bottom: 1px solid #d3dfeb !important;
      border-top: none !important;
    }
  }
  tbody{
    tr{
      margin-top: 6px;
      &:nth-of-type(odd){
        background-color: #E2F0F8 !important
      }
      td{
        border: none !important;
        padding: 1em .75em !important;
        font-size: 14px;
        vertical-align: middle !important;
      }
    }
  }
}

button.own-button{
  background: #d0d1d5;
  border-radius: 120px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-family: lato;
  position: relative;
  min-width: 120px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.1);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.1);
  -webkit-transition: .5s;
  transition: .5s;
  border: 2px solid #d0d1d5;
  display: inline-block;
  text-align: center;
  line-height: 1;
  letter-spacing: .4px;
  font-weight: 400;
  padding: 13px 20px;
}
button.blue-button{
  background: #4199d5;
  color: #fff;
  border: 2px solid #4199d5;
  text-align: center;
  &:hover{
    background: 0 0;
    color: #4199d5;
    border: 2px solid #4199d5;
  }
}

form{
  small.error-alert {
    color: #F44336;
  }
  button:disabled{
    background-color: rgba(50,50,93,.5);
    border: none !important; 
    &:hover{
      background-color: rgba(50,50,93,.5);
      cursor: not-allowed;
      color: #FFF;
    }
  }
}