.flex-center-center{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.curved-line {
  position: absolute;
  width: 90%;
  height: 100px;
  border: 2px dashed rgba(65,153,213,.3);
  border-color: rgba(65,153,213,.3) transparent transparent;
  border-radius: 50%;
  -webkit-transform: rotateX(0) rotateY(180deg) rotateZ(5deg);
  transform: rotateX(0) rotateY(180deg) rotateZ(5deg);
  margin-top: 30px;
}
img.background{
  position: absolute;
  left: 0;
  z-index: 0;
  bottom: 0;
}
.left{
  position: relative;
  z-index: 1;
  h2{
    font-weight: 600;
    color: #4298d3;
  }
  h5.subtitle{
    float: left;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: lato;
    color: #3d5567;
    line-height: 2;
    strong{
      color: #4298d3;
      font-style: italic;
    }
  }
  p{
    font-size: 1rem;
    color: #777777;
  }
}
.right{
  .dashboard-desktop-view{
    .dashboard-desktop-view-container{
      display: flex;
      .learn-more{
        text-align: center;
        padding: 10px 15px;
        position: relative;
        z-index: 90;
        .icon.header{
          margin-bottom: 1em;
          img{
            width: 100%;
            height: 72px;
          }
        }
        .body{
          display: inline-block;
          width: 100%;
          margin-bottom: 1em;
          span{
            font-size: 14px;
            border-radius: 50% !important;
            background: #4298d3;
            color: #fff;
            padding: 4px 9px;
            font-weight: 600;
            float: left;
            margin-right: 10px;
          }
          h5{
            font-size: 14px;
            font-weight: 400;
            float: left;
            margin: 4px 0;
          }
        }
        .footer{
          button.flex-center-center{
            background: #4199d5;
            border-radius: 50px;
            color: #fff;
            font-weight: 600;
            padding: 5px;
            margin: 0 auto;
            cursor: pointer;
            -webkit-transition: .5s;
            transition: .5s;
            .icon.flex-center-center{
              float: left;
              margin: 0 5px 0 0;
              img{
                width: 15px;
              }
            }
          }
          
          
        }
      }
    }
    
  }
}

table{
  thead{
    tr{
      th {
        vertical-align: middle;
        text-align: center;
        padding: .4rem;
        small{
          font-size: 12px;
          color: #999999;
          font-style: italic;
          display: block;
        }
      }
    }
    
  }
  tbody{
    tr#pulse{
      td{
        padding: 0 .75rem !important;
        img{
          width: 72px;
          margin: 0 auto;
          display: block;
        }
      }
    }
    tr{
      td{
        text-transform: capitalize;
        text-align: center;
        &.red{
          color: red
        }
      }
      td.money{
        text-align: right;
      }
    }
  }
  
}