<div class="row content-page animate__animated animate__fadeInLeft">
  <div class="col-md-10 left">
    <h2>Welcome to Knowledge Base</h2>
    <h5 class="subtitle">Do you understand how to use this <strong>Personal Finance Management System App</strong> ?</h5>
    <p>Check this video on this right hand side to acquiring knowledge. Cheers Everybody!</p>
    <button routerLink="/home" class="own-button blue-button">Back to Dashboard</button>
  </div>
  <div class="col-md-14 right">
    <div class="dashboard-desktop-view">
      <div class="dashboard-desktop-view-container">
        <div class="learn-more flex-column-center-center">
            <div class="body flex-center-center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/7Qt5RTkJ84c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="curved-line"></div>
  <img class="background" [src]="images.pohonDanHangar">
</div>