aside{
  position: relative;
  z-index: 9999;
  height: 100vh;
  .logo-lg{
    img{
      padding: 24px 0 42px 0;
    }
  }
  .gradient-header{
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  ul{
    padding-inline-start: 0;
    li {
      font-size: 12px;
      list-style: none;
      display: flex;
      align-items: center;
      a{
        color: #FFFFFF;
        padding: 18px;
        width: 100%;
        display: flex;
        align-items: center;
        &.active{
          background-color: #4b99d2;
          color: #b2ed7f;
        }
        i{
          margin-right: 12px;
          font-size: 20px;
          width: 24px;
          &.mdc-text-white{
            color: #FFFFFF !important;
          }
        }
      }
          
    }
  }
}