<aside>
  <a class="logo" routerlink="/home">
    <span class="logo-lg">
      <img alt="logo" src="https://paper.id/webappv1/assets/images/paperlogowhite.svg">
    </span>
    <span class="gradient-header">
      <img alt="logo" id="gradient" src="https://paper.id/webappv1/assets/images/gradient-header.svg">
    </span>
  </a>
  <ul>
      <li>
        <a routerLinkActive="active" routerLink="/home">
          <i class="zmdi zmdi-home mdc-text-white"></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/expenses">
          <i class="zmdi zmdi-money-off mdc-text-white"></i> Expenses
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/incomes">
            <i class="zmdi zmdi-money mdc-text-white"></i> Cash in
          </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/setting">
          <i class="zmdi zmdi-settings mdc-text-white"></i> Setting
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/knowledge-base">
          <i class="zmdi zmdi-local-library mdc-text-white"></i> Knowledge Base
        </a>
      </li>
  </ul>
</aside>